<main>
    <script src="/static/js/station_view.js" defer></script>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">

                    </div>
                </div>
                <!--                <div class="sb-sidenav-footer">-->
                <!--                    <div class="small">Logged in as:</div>-->
                <!--                    Start Bootstrap-->
                <!--                </div>-->
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">

                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                                <div id="layout_top" class="datatable-top">
                                    <!-- Левая колонка -->
                                    <div class="left-section">
                                        <div id="station_name" class="station_name"></div>
                                        <button id="stations_log_button" type="button" class="btn btn-primary">Логи</button>

                                        <form id="uploadForm" action="/api/upload/${stId}" method="post" enctype="multipart/form-data">
                                            <input type="file" name="image" accept="image/*" required>
                                            <button type="submit">Загрузить</button>
                                        </form>

                                        <form id="changeQR" action="/api/setQR" method="post">
                                            <label for="textInput">Поменять QR:</label>
                                            <input type="text" id="textInput" name="text" required>
                                            <button type="submit">Отправить</button>
                                        </form>
                                    </div>

                                    <!-- Правая колонка -->
                                    <div class="right-section">
                                        <button id="btn_reboot" class="btn btn-secondary">Перезагрузка</button><br>
                                        <button id="btn_disable" class="btn btn-secondary">Отключить станцию</button><br>
                                        <button class="btn btn-secondary">Кнопка 3</button>
                                    </div>
                                </div>

                                <div class="datatable-container">
                                    <table id="datatablesSimple" class="datatable-table">
                                        <thead>
                                        <tr>
                                            <th data-sortable="true" style="width: 5%;">
                                                <a href="#" class="datatable-sorter">№</a></th>
                                            <th data-sortable="true" style="width: 20%;">
                                                <a href="#" class="datatable-sorter">Bank ID</a></th>
                                            <th data-sortable="true" style="width: 8%;">
                                                <a href="#" class="datatable-sorter">Заряд</a></th>
                                            <th data-sortable="true" style="width: 8%;">
                                                <a href="#" class="datatable-sorter">Статус слота</a></th>
                                            <th data-sortable="true" style="width: 30%;">
                                                <a href="#" class="datatable-sorter">Действия со слотом</a></th>
                                        </tr>
                                        </thead>
                                        <tbody id="station_table">

                                        </tbody>
                                    </table>
                                </div>
                                <div>Эвенты станции:</div>
                                <div id="layout_bottom" class="datatable-bottom container">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 100vh"></div>
                    <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
                </div>
            </main>
